            <p>   <br /> <br /></p>
            <p style="text-align: center"><hr  width="800" color="#D3DBE6" style="border-size:1px" ><p>
            <p style="text-align: center">
            <span style="font-size:12px;font-weight:bold">©&nbsp; 2012 - 2013 &nbsp;&nbsp; Designed&nbsp;&nbsp; by &nbsp;&nbsp;<a href="http://www.spunkmars.org" target="_blank" title="SpunkMars++" >SpunkMars++</a> </span>
            <br />
            <span style="font-size:10px;"> ---  ProFTPD  Admin Version 0.7.5  --- </span> 
             <br />
            <span style="font-size:10px;"> Power By Django </span></p>
            <p><br /> <br /></p>