{% extends "ftpadmin/quota_base.html" %}
{% load i18n %}
{% block title %}| {% trans "Edit Quota" %} {% endblock %}
{% block header %} {% trans "Edit Quota" %}{% endblock %}
{% block content %}


   {% if form.errors %}
       <p style="color: red;">
           Please correct the error{{ form.errors|pluralize }} below.
       </p>
   {% endif %}


    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>


{% endblock %}
