{% extends "base.html" %}
{% load i18n %}
{% block ftpsetting_nav %} 

<table width="750"  cellspacing="0" cellpadding="0" align="right" class="table_content_2" >
    <tr ><td height="20" >&nbsp;</td></tr>
    <tr ><td height="30" style="background-color:#DCE5EA;border: #6699FF 1px solid;text-align:left">&nbsp;&nbsp;&nbsp;>> Setting </td></tr>
    <!-- <tr ><td style="background-color:#999;border: #6699FF 1px solid;border-top-width: 0px;">&nbsp;</td></tr> -->
    <tr><td>
    <ul class="nav">
        <li><a href="/admin/" title="ADMIN">{% trans "ADMIN" %}</a></li>
        <li><a href="{% url 'ftpsetting_define_filepath' %}" title="FilePath">{% trans "FilePath" %}</a></li>
        <li><a href="{% url 'ftpsetting_define_proftpd' %}" title="ProFTPD">{% trans "ProFTPD" %}</a></li>
        <li><a href="{% url 'ftpsetting_define_database' %}" title="DATABASE">{% trans "DATABASE" %}</a></li>
        <li><a href="{% url 'ftpsetting_define_interface' %}" title="INTERFACE">{% trans "INTERFACE" %}</a></li>
    </ul>
    </td></tr>
</table>

<p> <br /> </p>



{% endblock %}
