{% extends "ftpadmin/user_base.html" %}
{% load i18n %}
{% block title %}| {% trans "Add User" %} {% endblock %}
{% block header %} {% trans "Add User" %} {% endblock %}
{% block content %}

<div class="form_centre" style="text-align:left;">
   {% if form.errors %}
       <p style="color: red;">
           Please correct the error{{ form.errors|pluralize }} below.
       </p>
   {% endif %}


    <form action="" method="post">
        <table >
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

</div>
{% endblock %}
