{% load i18n %}
<table>
    <tr><td height="40">&nbsp;</td><td>&nbsp;</td></tr>
    <tr> 
        <td style="text-align:left" width="300"> 
        {% if has_nav_uri_display %}
            {% for nav_uri_item in nav_uri %}
                <a href="{{ nav_uri_item.url }}" title="{{ nav_uri_item.title }}" alt="" target="{{ nav_uri_item.target }}" >{% trans nav_uri_item.name %}</a> &nbsp;
            {% endfor %}

        {% endif %}
        </td>
        <td style="text-align:right" width="600"> 
            <form action="" method="get">
                <input id="id_q" type="text" name="q" value="{{ query }}" maxlength="30" />
                <input type="submit" value={% trans "Search" %}>
            </form>
        </td>
     </tr>
</table>