{% extends "base.html" %}                       


            {% block nav %}
            <a href="/">INDEX</a>&nbsp;&nbsp;
           |&nbsp;&nbsp;
            <a href="/admin/group/">GROUP</a>&nbsp;&nbsp;
           |&nbsp;&nbsp;
            <a href="/admin/user/">USER</a>&nbsp;&nbsp;
           |&nbsp;&nbsp;
            <a href="/status/">STATUS</a>&nbsp;&nbsp;
           |&nbsp;&nbsp;
            <a href="/setting/">SETTING</a>&nbsp;&nbsp;
           |&nbsp;&nbsp;
            <a href="/admin/">ADMIN</a>&nbsp;&nbsp;
           <p><hr></p>
            {% endblock %}

