{% extends "admin/user_base.html" %}
{% load i18n %}
{% block title %}| {% trans "Login" %} {% endblock %}
{% block header %} {% trans "Login" %} {% endblock %}
{% block nav %} {% endblock %}
{% block content %}

   {% if message %}
       <p>
         {{ message  }}
       </p>
   {% endif %}

   {% if form.errors %}
       <p style="color: red;">
           Please correct the error{{ form.errors|pluralize }} below.
       </p>
   {% endif %}


    <form action="" method="post">
        <table width="400" align="center" class="login_table_border">
		<tr><td height="25">&nbsp;</td></tr>
            {{ form.as_table }}
            <tr><th><label for="id_checkcode">{% trans "Checkcode" %}:</label></th><td><input id="id_checkcode" type="text" name="checkcode" maxlength="30" />&nbsp;</td></tr>
		 <tr><td style="text-align:right" align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img onclick="this.setAttribute('src','{% url account_get_checkcode_image %}?nocache='+Math.random());" onload="if(this.width>this.height){ if(this.width>90)this.width=90; }else{if(this.height>25) this.height=25;}" src="{% url account_get_checkcode_image %}" alt="CheckCode"/></td></tr>
         <tr><td style="text-align:right"> </td></tr>
         <tr><td height="25">&nbsp;</td></tr>
         <tr><td>
            <input type="submit" value="{% trans "Submit" %}">
            <input type="hidden" name="next" value="{{ next }}" />
		</td></tr>
         <tr><td height="25">&nbsp;</td></tr>
	   </table>
    </form>


{% endblock %}
